.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  transform: scale(1);
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.dates-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.space-below {
  margin-bottom: 20px;
}

.space-above {
  margin-top: 20px;
}

.space-left {
  margin-left: 20px;
}

.form-field-wrapper{
  min-width: 360px;
}

.bigger-font {
  font-size: 25px;
}

.big-font {
  font-size: 20px;
}

.text-input-height {
  height: 200px;

}

.actions-wrapper{
  width: 375px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

::ng-deep .snack-bar-red {
  background-color: rgba(219, 8, 8, 0.822);
  color: black;
}

::ng-deep .snack-bar-green {
  background-color: rgba(48, 216, 26, 0.822);
  color: black;
}

::ng-deep .snack-bar button {
  color: black;
  border: 1px solid black;
  transform: scale(1);
  transition: all .2s;
}

::ng-deep .snack-bar button:hover {
  transform:  scale(1.1);
  transition: transform 0.3s;
}
